<a href="https://colab.research.google.com/github/Abeer-Rahman/Basic-of-Python-Programming/blob/main/Copy_of_session_1_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [ ]:
print("Data","Science","Mentorship","Program","started",sep='-',end='-')
print("By","CampusX",sep='-')

Data-Science-Mentorship-Program-started-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [ ]:
cel=float(input('Insert the temperature in Celsius: '))
fahren=(9/5)*cel+32
print ('Temperature in Fahrenheit is', fahren)

Insert the temperature in Celsius: 100
Temperature in Fahrenheit is 212.0

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [ ]:
from re import X
# Write your code here
x=input('Insert the value of x: ')
y=input('insert the value of y: ')
tag=x
x=y
y=tag
print(f'swaped values of x and y are {x} and {y}')

Insert the value of x: 3
insert the value of y: 5
swaped values of x and y are 5 and 3

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [ ]:
# Write your code here
import math
x1=float(input("Give the x1 coordinate: "))
x2=float(input("Give the x2 coordinate: "))
y1=float(input("Give the y1 coordinate: "))
y2=float(input("Give the y2 coordinate: "))
distance=math.sqrt((x1-x2)**2+(y1-y2)**2)
print(F"Distance between the given points is: {distance:0.3f}")

Give the x1 coordinate: 2
Give the x2 coordinate: 2.4
Give the y1 coordinate: 5
Give the y2 coordinate: 7
Distance between the given points is: 2.040

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [ ]:
# Write your code here
principal=float(input("Insert the principal amount: "))
rate=float(input('Insert the interest rate per year in percentage: '))
time=float(input('Insert the time period in years'))
simple_interest=principal*(rate/100)*time
print("Amount of simple interest is:",simple_interest)

Insert the principal amount: 1000
Insert the interest rate per year in percentage: 10
Insert the time period in years1
Amount of simple interest is: 100.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [ ]:
# Write your code here
n_heads=int(input('Number of heads?'))
n_legs=int(input('Number of legs?'))
n_dogs=(n_legs-2*n_heads)/2
n_chikens=(n_heads-n_dogs)

print("Dogs->",int(n_dogs))
print("Chickens->",int(n_chikens))

Number of heads?4
Number of legs?12
Dogs-> 2
Chickens-> 2

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [ ]:
# Write your code here
n=int(input('Enter the number of terms:'))
sum=0
for i in range(1,n+1):
  sum+=i**2
print('The sum is',sum)

Enter the number of terms:10
The sum is 385

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [ ]:
# Write your code here
a=float(input('Enter the first term:'))
b=float(input('Enter the seconf term:'))
n=int(input('Enter the Nth term'))
d=b-a
nth_term=a+(n-1)*d
print("The Nth term is",nth_term)

Enter the first term:2
Enter the seconf term:5
Enter the Nth term4
The Nth term is 11.0

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [ ]:
# Write your code here
num1=int(input('Enter the numerator of the 1st fraction'))
den1=int(input('Enter the denominator of the 1st fracton'))
num2=int(input('Enter the numerator of the 2nd fraction'))
den2=int(input('Enter the denominator of the 2nd fracton'))
num=(num1*den2)+(num2*den1)
den=den1*den2
print('Sum of the fractions are',num/den)
print(f'It can be also expressed as {num}/{den}')

Enter the numerator of the 1st fraction1
Enter the denominator of the 1st fracton2
Enter the numerator of the 2nd fraction3
Enter the denominator of the 2nd fracton4
Sum of the fractions are 1.25
It can be also expressed as 10/8

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [ ]:
# Write your code here
import math
H=float(input('Enter the height of the milk tank in cm: '))
L=float(input('Enter the width of the milk tank in cm: '))
B=float(input('Enter the breadth of the milk tank in cm: '))

h=float(input('Enter the height of the glass in cm: '))
r=float(input('Enter the radius of the glass in cm: '))

#calculating the volume of the tank
v_tank=H*L*B
#calculating the volume of the glass
v_glass=(math.pi)*(r**2)*h
#number of glasses
n=round(v_tank/v_glass)
print('Number of glasses of milk is', n)

Enter the height of the milk tank in cm20
Enter the width of the milk tank in cm30
Enter the breadth of the milk tank in cm24
Enter the height of the glass in cm23
Enter the radius of the glass in cm4
Number of glasses of milk is 12